@use '../abstracts/variable' as *;

%button-base {
    font-weight: $font-semibold;
    font-size: 1rem;
    line-height: 20px;
    text-align: center;
    text-transform: capitalize;
    color: $white;
    background-color: $primary;
    border: none;
    border-radius: .5rem;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease;

    &:hover {
        background-color: $primary-dark;
        cursor: pointer;
    }

    &:active {
        transform: scale(0.9);
    }
}

.button {
    @extend %button-base;
    padding: 1rem 2.5rem;
    gap: 0.5rem;

    &-input {
        @extend %button-base;
        gap: 0.5rem;
        padding: 0.6875rem 1rem;
    }
}

.button--icon-only {
    @extend %button-base;
    width: 3.25rem; 
    height: 2.25rem; 

    img, svg {
        width: 1.5rem;
        height: 1.5rem;
        color: inherit;
    }
}

.button--success {
    @extend %button-base;
    background-color: $success;
    padding: 0.6875rem 1rem;
    font-size: 0.75rem;
    border-radius: 0.375rem;

    &:hover {
        background-color: $success-dark;
        cursor: pointer;
    }
}

/* SHOPPING CART */

%shopping-cart-base  {
    width: 2rem; 
    height: 2rem; 
    padding: .5rem;
    border-radius: 2rem;
    border: none;

    transition: all 0.3s ease;
    cursor: pointer;

    img, svg {
        width: 1rem;
        height: 1rem;
    }

    &:active {
        transform: scale(0.9);
    }
}

.button--shopping-cart--bg {
    @extend %shopping-cart-base;
    background-color: $white;

    &:hover {
        background-color: $grey-3;
    }
}

.button--shopping-cart {
    @extend %shopping-cart-base;
    background-color: transparent;

    &:hover {
        background-color: transparent;
        filter: saturate(1090%)  brightness(120%) contrast(90%);
    }
}