@use '../abstracts/variable' as *;

.card {
    &--latest {
        width: 19.5rem !important; // 75% of 26rem
        height: ax-content!important; // 75% of 19rem
    }
    
    &--featured {
        width: 14.25rem !important; // 75% of 19rem
        height: 17.25rem !important; // 75% of 23rem
    }
    
    &--trending {
        width: 14.25rem !important; // 75% of 19rem
        height: 16.125rem !important; // 75% of 21.5rem
    }
    
    &--top-category {
        width: 12.75rem !important; // 75% of 17rem
        height: 17.25rem !important; // 75% of 23rem
    }
    
    &--blog {
        width: 19.5rem !important; // 75% of 26rem
        height: 22.265625rem !important; // 75% of 29.6875rem
    }
    
  
}