@use '../abstracts/variable' as *;

.card {
    &--latest {
        width: 20.8rem !important; // 80% of 26rem
        height: 15.2rem !important; // 80% of 19rem
    }
    
    &--featured {
        width: 15.2rem !important; // 80% of 19rem
        height: 18.4rem !important; // 80% of 23rem
    }
    
    &--trending {
        width: 15.2rem !important; // 80% of 19rem
        height: 17.2rem !important; // 80% of 21.5rem
    }
    
    &--top-category {
        width: 13.6rem !important; // 80% of 17rem
        height: 18.4rem !important; // 80% of 23rem
    }
    
    &--blog {
        width: 20.8rem !important; // 80% of 26rem
        height: 23.75rem !important; // 80% of 29.6875rem
    }
    
    &--filter-grid {
        width: 48.8rem !important; // 80% of 61rem
        height: 11.6rem !important; // 80% of 14.5rem
    }
    
    &--filter-wide {
        width: 15.2rem !important; // 80% of 19rem
        height: 22.4rem !important; // 80% of 28rem
    }
}