@use '../../../../styles/abstracts/variable' as *;

.latest-blog-container {
    width: 100%;
    height: 729px;
    margin-top: 8rem;

    .latest-blog-content-title {
        color: $black;
        text-align: center;
        margin-bottom: 3rem;
    }
    
    .latest-blog-content-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    
}