@use "../../../../styles/abstracts/variable" as *;

.featured-products {
    min-height: 47.25rem; 
    margin: 0 auto;

    background-color: $white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
        text-align: center;
        margin-bottom: 3rem;
        color: $black;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 75rem;
        margin: 0 auto;
    }

    &__list {
        display: grid;
        place-content: center;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        width: 100%;
        margin-bottom: 2rem;
    }

    &__card-wrapper {
        width: 100%;
    }

    &__pagination {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }

    &__dot {
        width: 1rem; 
        height: 0.25rem; 
        border-radius: 0.125rem;
        background-color: $primary-light;
        color:#FEBAD7;
        cursor: pointer;
        transition: background-color 0.3s ease, width 0.3s ease;

        &--active {
            background-color: $primary;
            color: $primary;
            width: 1.5rem;
        }
    }
}