@use "../../../../styles/abstracts/variable" as *;
@use "../../../../styles/abstracts/mixin" as *;

.featured-products {
    @include page-container-padding;
    @include section-spacing-top;

    background-color: $white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
        text-align: center;
        margin-bottom: $page-container-title-gap-vertical;
        color: $black;
    }

    &__list {
        display: grid;
        place-content: center;
        grid-template-columns: repeat(4, 1fr);
        gap: $page-container-gap-products;
        width: 100%;
        margin-bottom: 77px;
    }

    &__card-wrapper {
        width: 100%;
    }

    &__pagination {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }

    &__dot {
        width: 1rem; 
        height: 0.25rem; 
        border-radius: 0.125rem;
        background-color: $primary-light;
        color:#FEBAD7;
        cursor: pointer;
        transition: background-color 0.3s ease, width 0.3s ease;

        &--active {
            background-color: $primary;
            color: $primary;
            width: 1.5rem;
        }
    }
}