/* COLORS */

// MONOCHROME
$white: #FFFFFF;
$grey-1: #F8F8FD;
$grey-2: #E5E0FC;
$grey-3: #8A8FB9;
$black: #101750;

// COLOR PALETTE
$primary: #FB2E86;
$primary-dark: #F0056A;
$primary-light: #FC5FA2;
$secondary: #F9BA00;
$secondary-light: #FFF3CE;
$tertiary: #7E33E0;

// ACCENT
$danger: #FB2448;
$danger-light: #FEB9C4;
$info: #603EFF;
$info-light: #DDD6FF;
$success: #0CC562;
$success-light: #92F2BF;
$success-dark: #00994C;

/* FONT */
$font-primary: 'Josefin Sans', sans-serif;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
$font-size-base: 16px;