@use '../../../../styles/abstracts/variable' as *;

.footer {
  background-color: $grey-1;
  color: $black;

  width: 100%;

  &-container {
    max-width: 87.5rem;
    margin: 0 auto;
    padding: 4rem 2rem 0;
  }

  &-content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 3rem;
    margin-bottom: 3rem;
  }

  &-column {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &--brand {
      .footer-logo {
        img {
          height: auto;
          width: auto;
        }
      }
    }

 
  }

  &-email-subscription {
    margin-top: 0.5rem;

    .input-complex {
      min-width: 18rem;
      max-width: 100%;
    }
  }

  &-address {
    margin-top: 0.5rem;

    p {
      color: $grey-3;
      margin: 0;
      line-height: 1.5;
    }
  }

  &-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    li {
      a {
        color: $grey-3;
        text-decoration: none;
        transition: color 0.2s ease;
        display: inline-block;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  &-bottom {
    background-color: $grey-2;
    padding: 2rem 0;
    width: 100%;

    &-container {
      max-width: 87.5rem;
      margin: 0 auto;
      padding: 0 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-left {
      p {
        color: $grey-3;
        margin: 0;
      }
    }

    &-right {
      display: flex;
      gap: 1rem;
      align-items: center;
    }
  }

  &-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: $black;
    color: $white;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: $primary;
    }
  }
}
