@use '../../../../styles/abstracts/variable' as *;
@use '../../../../styles/abstracts/mixin' as *;

.top-categories-container {
    @include page-container-padding;
    @include section-spacing-top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .top-categories-title {
        color: $black;
        text-align: center;
        margin-bottom: $page-container-title-gap-vertical;
    }

    .top-categories-list {
        display: flex;
        flex-direction: row;
        gap: 4rem;
    }

    .top-categories-slider-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1rem;
        margin-top: 3.8125rem;

        .top-categories-slider-item {
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 100%;
            border: 1px solid $primary;
            background-color: transparent;
            cursor: pointer;
            transition: all 0.3s ease;
            padding: 0;

            &:hover {
                background-color: rgba($primary, 0.5);
            }

            &.active {
                background-color: $primary;
            }
        }
    }
}