@use '../../../../styles/abstracts/variable' as *;

.top-categories-container {
    width: 100%;
    min-height:  47.875rem;
    margin-top: -15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .top-categories-title {
        color: $black;
        text-align: center;
        margin-bottom: 3rem;
    }

    .top-categories-list {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    .top-categories-slider-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1rem;
        margin-top: 2rem;

        .top-categories-slider-item {
            width: 8px;
            height: 8px;
            border-radius: 100%;
            border: 1px solid $primary;
            background-color: transparent;
            cursor: pointer;
            transition: all 0.3s ease;
            padding: 0;

            &:hover {
                background-color: rgba($primary, 0.5);
            }

            &.active {
                background-color: $primary;
            }
        }
    }
}