<div class="select-dropdown">
  <div 
    class="select-dropdown__trigger" 
    [class.select-dropdown__trigger--open]="isOpen"
    (click)="toggleDropdown()"
  >
    <span>{{ selectedLabel }}</span>
    <svg 
      width="16" 
      height="16" 
      viewBox="0 0 16 16" 
      fill="none" 
      xmlns="http://www.w3.org/2000/svg"
      [class.select-dropdown__chevron--open]="isOpen"
    >
      <path d="M2.99951 5L7.99967 10L12.9998 5" stroke="#101750" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>
  
  @if (isOpen) {
    <div class="select-dropdown__menu">
      @for (option of options; track option.value) {
        <div 
          class="select-dropdown__option"
          [class.select-dropdown__option--selected]="selectedValue === option.value"
          (click)="selectOption(option)"
        >
          {{ option.label }}
        </div>
      }
    </div>
  }
</div>
