@use '../../../../styles/abstracts/variable' as *;

.discount-container {
    width: 100%;
    height: 894px;
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4rem;
    }

    &__title {
        color: $black;
    }

    &__nav {
        margin-top: 1rem;

        &-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            cursor: pointer;
        }

        &-item {
            &.active {
                color: $primary;
            }
        }
    }

    &__content {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex: 0 0 auto;
        width: 500px;
        min-width: 500px;
        max-width: 500px;
  
        gap: 2rem;

        &-title {
            color: $black;
        }

        &-subtitle {
            color: $primary;
        }

        &-text, &-list {
            color: $grey-3;
        }

        &-list {
            list-style: none; 
            color: $black;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            padding-left: 0; 
            margin: 0;
            width: 100%;

            &-item {
                color: $grey-3;
                position: relative;
                padding-left: 24px; 
                list-style: none;
                
                &::before {
                    content: '';
                    position: absolute;
                    left: -8px;
                    top: -5px;
                    width: 24px;
                    height: 24px;
                    background-image: url('/icons/shared/check.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
    }

    &__image {
        position: relative;
        width: 448px;
        height: 498px;

        &-elipse-1 {
            position: absolute;
            top: 0;
            left: -90px;
            z-index: 1; 
        }
        
        &-elipse-2 {
            position: absolute;
            top: -20px;
            right: 0;
            z-index: 1;
        }

        &-headphones {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 2; 
        }   
    }

    



}