@use "../../../../styles/abstracts/variable" as *;

.input-counter {
    min-width: 7.5rem; 
    height: 2.5rem;
    border-radius: .5rem;
    border-width: 1px;
    color: $black;
    background-color: $white;
    border: 1px solid $grey-2;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    
    button {
        border: none;
        color: $black;
        background-color: transparent;
        font-weight: $font-regular;
        font-size: 1.2rem;
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        flex-basis: 2.5rem; 

        &:hover, &:active {
            background-color: $grey-2;
        }

        &:active {
            background-color: $grey-3;
        }
    }

    &--value {
        flex-grow: 1;
        text-align: center;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}