@if (!hasItems()) {
    <div class="cart-empty">
        <img src="/images/cart/cart-empty.jpg" alt="cart-empty" class="cart-empty-image">
        <h3 class="cart-empty-title">Your cart is empty</h3>
        <a [routerLink]="'/products'" class="button">Start shopping</a>
    </div>
} @else {
    <section class="cart-container">
        <div class="cart-products">
            @for (item of cartState().items; track item.product.id || item.product.title + item.product.image) {
                <div class="cart-product">
                    <div class="cart-product-image">
                        <img [src]="item.image" [alt]="item.product.title">
                    </div>
                    <div class="cart-product-info">
                        <div class="cart-product-details">
                            <h3 class="cart-product-title">{{ item.product.title }}</h3>
                            <p class="cart-product-price">{{ item.product.discountPrice }}</p>
                        </div>
                        <div class="cart-product-controls">
                            <app-input-counter 
                                [value]="item.quantity" 
                                (valueChange)="onQuantityChange(item.product.id, $event)"
                            />
                            <p class="cart-product-total">${{ item.totalPrice.toFixed(2) }}</p>
                        </div>
                    </div>
                </div>
            }
        </div>  
        <div class="cart-summary">
            <div class="cart-summary-item">
                <span class="cart-summary-item-subtotal body-text-bold">Subtotal:</span>
                <p class="label-bold">${{ cartState().totalPrice.toFixed(2) }}</p>
            </div>
            <hr>
            <div class="cart-summary-item cart-summary-total">
                <span class="cart-summary-item-total body-text-bold">Total:</span>
                <p class="label-bold">${{ (cartState().totalPrice + 100).toFixed(2) }}</p>
            </div>
            <hr>
            <div class="cart-summary-item">
                <span class="cart-summary-item-shipping body-text">Shipping:</span>
                <p class="body-text">$100.00</p>
            </div>
            <button type="button" class="button cart-checkout">Proceed to checkout</button>
            <button 
                type="button" 
                class="cart-clear"
                (click)="onClearCart()"
            >
                Clear cart
            </button>
        </div>
    </section>
}