@use '../abstracts/variable' as *;

/* HEADING */

%heading-base {
    line-height: 1.5;
    font-weight: $font-bold;
    letter-spacing: 1.5%;
    text-transform: capitalize;
}

h1, .heading-1 {
    @extend %heading-base;
    font-size: 3.25rem; // 52px
}

h2, .heading-2 {
    @extend %heading-base;
    font-size: 2.5rem; // 44px
}

h3, .heading-3 {
    @extend %heading-base;
    font-size: 2.25rem; // 36px
}

h4, .heading-4 {
    @extend %heading-base;
    font-size: 1.75rem; // 28px
}

/* SUBTITLE */

.subtitle {
    font-size: 1.625rem; // 26px
    font-weight: $font-bold;

    &-2 {
        font-size: 1.375rem; // 22px
    }

    &-3 {
        font-size: 1.25rem; // 20px
    }

    &-4 {
        font-size: 1rem; // 16px
        font-weight: $font-semibold;
    }
}


/* BODY */

.body-text {
    font-size: 1rem; // 16px
    font-weight: $font-regular;

    &-large {
        font-size: 1.125rem; // 18px
    }

    &-bold {
        font-weight: $font-bold;
    }

    &-small {
        font-size: 0.875rem; // 14px
        font-weight: $font-bold;
    }
}

/* LABEL */

.label {
    font-size: 1rem; // 16px
    font-weight: $font-regular;

    &-bold {
        font-weight: $font-bold;
    }

    &-small {
        font-size: 0.875rem; // 14px
    }
}
