@use '../../../../styles/abstracts/variable' as *;
@use '../../../../styles/abstracts/mixin' as *;

.trending-product-container {
    @include page-container-padding;
    @include section-spacing-top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $white;

    .trending-product-title {
        margin-bottom: $page-container-title-gap-vertical;
        color: $black;
    }

    .trending-product-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: $page-container-gap-products;
    }
  
}